<%if @comment.errors.any?%>
	<ol>
		<div class="alert alert-danger alert-dismissible fade show" role="alert" id="error_comment">
			<h2>Error:</h2>
			<%@comment.errors.full_messages.each do |msg|%>
							<li><%=msg%></li>
						<%end%>	
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    			<span aria-hidden="true">&times;</span>	    							
	 		</button>
 		</div>		
	</ol>
<%end%>

