<div class="centering">
	<h1>list of articles</h1> 
	<h2><%#= @category.name%></h2> 
	<ol>
		<%Article.where(category_id:@category.id).each do|article|%>
			<%if article.is_published%>	
			 	<li><%= link_to article.title,article_path(article)%></li>
			<%end%>
			<%#if category.children.present?%>		    
			<%#end%> 
		<%end%>
	</ol>	
</div>


 